<app-header></app-header>
<div class="container">
    <h2>{{ aboutTranslate.title }}</h2>
    <p>
        {{ aboutTranslate.slackStatusAutomationLinkPreText
        }}<a href="javascript:void(0)" (click)="openExternalBrowser('https://github.com/MeilCli/SlackStatusAutomation')"
            >https://github.com/MeilCli/SlackStatusAutomation</a
        >{{ aboutTranslate.slackStatusAutomationLinkPostText }}
    </p>

    <h3>{{ aboutTranslate.usingOpenSourceSoftware }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ aboutTranslate.openSourceSoftware }}</th>
                <th scope="col">{{ aboutTranslate.license }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let library of libraries">
                <td>
                    <a href="javascript:void(0)" (click)="openExternalBrowser(library.url)">{{ library.name }}</a>
                </td>
                <td>
                    <a href="javascript:void(0)" (click)="openExternalBrowser(library.licenseUrl)">{{
                        library.license
                    }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
