<app-header></app-header>
<div class="container">
    <h2>License Notice</h2>
    <p>
        The original SlackStatusAutomation is published at
        <a href="javascript:void(0)" (click)="openExternalBrowser('https://github.com/MeilCli/SlackStatusAutomation')"
            >https://github.com/MeilCli/SlackStatusAutomation</a
        >
        and licensed by
        <a
            href="javascript:void(0)"
            (click)="openExternalBrowser('https://github.com/MeilCli/SlackStatusAutomation/blob/master/LICENSE.txt')"
            >MIT License.</a
        >
    </p>

    <h3>Using Open Source Software</h3>
    <ul class="list-group" *ngFor="let library of libraries">
        <li class="list-group-item">
            <a href="javascript:void(0)" (click)="openExternalBrowser(library.url)">{{ library.name }}</a> is published
            by
            <a href="javascript:void(0)" (click)="openExternalBrowser(library.licenseUrl)">{{ library.license }}</a>
        </li>
    </ul>
</div>
