<ul ngbNav [activeId]="activePath" class="nav-tabs">
    <li [ngbNavItem]="link.path" *ngFor="let link of links">
        <a ngbNavLink [routerLink]="'/' + link.path">{{ link.title }}</a>
    </li>
    <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link dropdown-toggle">{{ headerTranslate.other }}</a>
        <div ngbDropdownMenu>
            <a ngbDropdownItem *ngFor="let link of otherLinks" [routerLink]="'/' + link.path">{{ link.title }}</a>
        </div>
    </li>
</ul>
