<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Automation</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <div class="mt-2 mb-2"><label for="conditionName">Name</label></div>
            <div class="input-group">
                <input
                    id="conditionName"
                    class="form-control"
                    placeholder="Automation name"
                    type="text"
                    [(ngModel)]="editableConditionGroup.name"
                    [ngModelOptions]="{ standalone: true }"
                />
            </div>
            <div class="mt-2 mb-2">
                <label>Conditions</label
                ><button mat-icon-button class="mat-button float-right" (click)="addEditableCondition()">
                    <mat-icon fontSet="material-icons-two-tone">add</mat-icon>
                </button>
            </div>
            <div class="input-group mb-2" *ngFor="let condition of editableConditionGroup.conditions; index as i">
                <select
                    class="form-control"
                    [(ngModel)]="condition.type"
                    [ngModelOptions]="{ standalone: true }"
                    [style.max-width]="100"
                >
                    <option ngValue="Ip" selected>IP</option>
                    <option ngValue="Wifi">Wi-Fi</option>
                </select>
                <input
                    class="form-control"
                    [placeholder]="condition.type == 'Ip' ? 'IP Address' : 'Wi-Fi SSID'"
                    type="text"
                    [(ngModel)]="condition.value"
                    [ngModelOptions]="{ standalone: true }"
                    aria-describedby="addon-append"
                />
                <div class="input-group-append" id="addon-append">
                    <button class="btn btn-outline-danger" type="button">
                        <mat-icon fontSet="material-icons-two-tone" (click)="removeEditableCondition(i)"
                            >clear</mat-icon
                        >
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(result())">Save</button>
</div>
